* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: white;
    position: relative;
}

aside {
    display: flex;
    flex-direction: column;
    position: relative;

}

aside>div {
    height: 3.5rem;
}

aside>div>img {
    width: 6.9rem;
    margin-left: 19%;
    position: relative;
    margin-top: 0.5%;

}

aside>hr {
    border: xx-small solid lightgray;

}

nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 7%;
}

#newlogin {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    align-items: center;
    width: 24.5rem;
    height: 35rem;
    border: 0.1px solid lightgray;
    border-radius: 0.25rem;

}

.teenyicons--lock-circle-outline {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='white' d='M5.5 7h4V6h-4zm4.5.5v3h1v-3zM9.5 11h-4v1h4zM5 10.5v-3H4v3zm.5.5a.5.5 0 0 1-.5-.5H4A1.5 1.5 0 0 0 5.5 12zm4.5-.5a.5.5 0 0 1-.5.5v1a1.5 1.5 0 0 0 1.5-1.5zM9.5 7a.5.5 0 0 1 .5.5h1A1.5 1.5 0 0 0 9.5 6zm-4-1A1.5 1.5 0 0 0 4 7.5h1a.5.5 0 0 1 .5-.5zm.5.5v-1H5v1zm3-1v1h1v-1zM7.5 4A1.5 1.5 0 0 1 9 5.5h1A2.5 2.5 0 0 0 7.5 3zM6 5.5A1.5 1.5 0 0 1 7.5 4V3A2.5 2.5 0 0 0 5 5.5zm-5 2A6.5 6.5 0 0 1 7.5 1V0A7.5 7.5 0 0 0 0 7.5zM7.5 14A6.5 6.5 0 0 1 1 7.5H0A7.5 7.5 0 0 0 7.5 15zM14 7.5A6.5 6.5 0 0 1 7.5 14v1A7.5 7.5 0 0 0 15 7.5zm1 0A7.5 7.5 0 0 0 7.5 0v1A6.5 6.5 0 0 1 14 7.5z'/%3E%3C/svg%3E");
}

#newlogin>input {
    width: 19rem;
    height: 2.5rem;
    background-color: whitesmoke;
    outline: none;
    text-align: left;
    border-radius: 0.3rem;
    border: 0.1px solid lightgray;


}

#newlogin>input:focus {
    outline: none;
    border-color: gray;
    padding-left: 2%;



}


#newlogin>input::placeholder {
    font-size: 0.9rem;
    background-color: whitesmoke;
    outline: none;
    border-color: gray;
    padding-left: 2%;
}

#newlogin>button {
    background-color: #5aa7ff;
    color: white;
    width: 19rem;
    height: 2.1rem;
    margin-top: 2%;
    border: none;
    border-radius: 0.6rem;
}

#newlogin>button::placeholder {
    font-size: medium;
    text-align: justify;
}

#orlogin {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 8%;

}

#orlogin>p {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 0.77rem;
    font-weight: 545;
}

#orlogin>span {
    height: 0.1rem;
    width: 7.8rem;
    background-color: lightgray;
    align-self: center;
}


#links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 5%;


}

#links>div,
span {
    font-size: small;
    justify-content: space-between;
    color: gray;

}

#tonav {
    word-spacing: 0.5rem;

}

#tonav>span {
    word-spacing: 0.1rem;
}